@font-face {
  font-family: "e-Ukraine";
  src: url("../fonts/e-ukraine/e-Ukraine-UltraLight.woff2") format("woff2"),
    url("../fonts/e-ukraine/e-Ukraine-UltraLight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "e-Ukraine";
  src: url("../fonts/e-ukraine/e-Ukraine-Light.woff2") format("woff2"),
    url("../fonts/e-ukraine/e-Ukraine-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "e-Ukraine";
  src: url("../fonts/e-ukraine/e-Ukraine-Regular.woff2") format("woff2"),
    url("../fonts/e-ukraine/e-Ukraine-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "e-Ukraine";
  src: url("../fonts/e-ukraine/e-Ukraine-Medium.woff2") format("woff2"),
    url("../fonts/e-ukraine/e-Ukraine-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "e-Ukraine";
  src: url("../fonts/e-ukraine/e-Ukraine-Bold.woff2") format("woff2"),
    url("../fonts/e-ukraine/e-Ukraine-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
